<footer>
  <div class="tab bg">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <div class="text-center">
            <div class="img">
              <img src="../../../../assets/images/logo.png" alt="logo" loading="lazy" width="170">
            </div>
            <div class="details">
              <p>{{'footer.details' | translate}}</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"></div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12"></div>
        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12">
          <div class="d-flex justify-content-center align-items-center text-center w-100 h-100">
            <div class="social">
              <div class="text mb-4">
                <h1 class="fs-1 fw-semibold">{{'footer.followed' | translate}}</h1>
              </div>
              <div class="social-icon d-flex gap-1">
                <a href="https://twitter.com/Alkhabeer2050" target="_blank" class="twitter"><i class="bx bxl-twitter icon"></i></a>
                <a href="https://www.instagram.com/alkhabeer2050/" target="_blank" class="instagram"><i class="bx bxl-instagram icon"></i></a>
                <a href="https://www.youtube.com/@Alkhabeer2050/videos" target="_blank" class="youtube"><i class="bx bxl-youtube icon"></i></a>
                <a href="https://www.facebook.com/people/%D8%B4%D8%B1%D9%83%D8%A9-%D8%A7%D9%84%D8%AE%D8%A8%D9%8A%D8%B1-%D8%A7%D9%84%D8%AA%D8%B1%D8%A8%D9%88%D9%8A/100067988947112/" target="_blank" class="facebook"><i class='bx bxl-facebook-circle icon'></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tab text-center">
    <div>
      <img src="../../../../assets/images/payments.jpg" loading="lazy" alt="payments" >
    </div>
    <div>
      <h4>{{'footer.copyRight' | translate}}</h4>
    </div>
  </div>
</footer>
