section {
  .content-page {
    .account {
      a {
        color: var(--main-color);
        text-decoration: underline;
      }
    }
    .coupons {
      form {
        transition: var(--main-transition);
      }
    }
    .btn-checkout {
      .example-radio-group {
        display: flex;
        flex-direction: column;
        margin: 10px 0;
        align-items: flex-start;
      }

      .example-radio-button {
        margin: 5px;
      }
    }
  }
  .content-page {
    flex-direction: column;
    .content {
      order: 1;
      display: flex;
      justify-content: right;
      align-items: stretch;

      .col-lg-6 {
        display: flex;
        flex-direction: column;
        gap: 20px; // Adjust this value to set the gap between the cards

        .card {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
        }
      }
    }
    .noAccount{
      order: 0; // it should be (2,{ 1 }, 2) when logged in and (1, {0}, 2) if not
      display: flex;
      justify-content: right;
      align-items: stretch;
    }
    .details-body{
      order: 2;
      display: flex;
      justify-content: right;
      align-items: stretch;
      
    }
  }
}
