<section>
  <banner [title]="'banner.checkout' | translate"></banner>
  <div class="container">
    <nav
      class="nav-breadcrumb py-3 fs-6 fw-medium border-bottom border-light-subtle"
      aria-label="breadcrumb">
      <ol class="breadcrumb m-0">
        <li class="breadcrumb-item">
          <a routerLink="/">{{ "breadcrumb.home" | translate }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {{ "breadcrumb.checkout" | translate }}
        </li>
      </ol>
    </nav>
    <div class="content-page">
      <div *ngIf="!isLoggedIn">
        <h3
          class="account py-4 d-flex gap-2"
          data-aos="fade-down"
          data-aos-duration="1000"
        >
          <span>{{ "checkout.noAccount" | translate }}</span>
          <a routerLink="/register">{{
            "checkout.registerAccount" | translate
          }}</a>
          <span>{{ "checkout.newUser" | translate }}</span>
          <a routerLink="/login">{{ "checkout.loginAccount" | translate }}</a>
        </h3>
      </div>
      <div class="content">
          <div class="col-lg-6 col-md-12" data-aos="fade-down" data-aos-duration="1000">
            <div class="request card p-4" data-aos="fade-down" data-aos-duration="1000">
              <h1 class="fw-bold pb-4">
                {{ "checkout.table.table-title" | translate }}
              </h1>
              <div class="table py-2">
                <table class="table table-hover table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">
                        {{ "checkout.table.product" | translate }}
                      </th>
                      <th scope="col">
                        {{ "checkout.table.price" | translate }}
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of products">
                      <td scope="row">{{ item.title }} * 1</td>
                      <td>ج.م{{ item.newPrice }}</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>{{ "checkout.table.subTotal" | translate }}</th>
                      <td>ج.م{{ total }}</td>
                    </tr>
                    <tr>
                      <th>{{ "checkout.table.total" | translate }}</th>
                      <td>ج.م{{ total }}</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
            <div class="btn-checkout card p-5" data-aos="fade-down" data-aos-duration="1000">
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group">
                <mat-radio-button
                  class="example-radio-button"
                  *ngFor="let check of listCheckout"
                  [value]="check.name" checked="check[0].name"
                >
                  {{ check.name }}
                  <img [src]="check.img" loading="lazy" alt="visa" class="px-1" height="28">
                </mat-radio-button>
              </mat-radio-group>
              <div class="btns">
                <button class="btn btn-outline-success w-100" [disabled]="!isLoggedIn" (click)="checkout()">{{'checkout.confirmation' | translate}}</button>
            </div>            
              <div *ngIf="isLoading" >
               جاري التحميل ..
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
